* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: "Open Sans", sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.header nav ul {
    position: absolute;
    top: 0;
    left: -100%;
    background-color: #000000b7;
    width: 80%;
    max-width: 300px;
    height: 100vh;

    transition: 0.4s ease;
}

.header nav ul li {
    margin: 10px;
    margin-top: 20px;
    text-align: center;
}

.header nav ul li a {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    text-decoration: none;
    color: #fff;
}

.menu {
    width: 24px;
    height: 24px;
    margin-left: auto;
    cursor: pointer;
}

.menu-bar {
    width: 24px;
    height: 3px;
    background-color: #000;
    margin-bottom: 3px;
}

.menu-open {
    left: 0% !important;
}

.menu-close-button {
    position: relative;
    top: 20px;
    margin-left: auto;
    margin-right: 15px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.menu-close-button div {
    position: relative;
    width: 24px;
    height: 3px;
    background-color: #fff;
}

.menu-close-button div:nth-child(1) {
    transform: rotate(225deg);
}

.menu-close-button div:nth-child(2) {
    transform: rotate(-225deg);
    bottom: 3px;
}

.main .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eaeaec;
}

.main .banner figure {
    max-width: 700px;
}

.main .banner img {
    width: 100%;
}

.main .banner div {
    max-width: 500px;
    margin-right: auto;
    text-align: left;
    padding: 0 20px;
}

.main .banner div h2 {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    word-spacing: 10px;
    letter-spacing: 5px;
    color: #111;
    margin: 20px 0;
    margin-bottom: 0;
}

.main .banner div h1 {
    font-family: "Ubuntu", sans-serif;
    font-size: 4rem;
    color: #555c66;

    margin: 5px 0;
}

.main .banner div p {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 25px;
    color: #555c66;

    margin: 15px 0;
}

.main .banner div button {
    font-size: 1.4rem;
    font-weight: bolder;
    letter-spacing: 5px;
    width: 90%;
    max-width: 200px;
    height: 40px;
    background-color: #555c66;
    color: #fff;
    border: 0;
    cursor: pointer;
    margin-bottom: 20px;
}

.main .banner div button:hover {
    background-color: #484e57;
}

.section-content01 {
    text-align: center;
    padding: 30px 0;
}

.section-content01 h3 {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    font-weight: lighter;
    letter-spacing: 5px;
    word-spacing: 3px;
    margin: 20px 0;
}

.section-content01 h2 {
    font-family: "Ubuntu", sans-serif;
    font-size: 3.5rem;
    color: #555c66;
}

.section-content01 p {
    font-size: 1.4rem;
    line-height: 25px;
    padding: 10px;
    margin: 10px;
    margin-bottom: 0px;
    max-width: 1100px;
    margin: 0 auto;
}

.section-content01 button {
    font-size: 1.4rem;
    font-weight: bolder;
    width: 90%;
    height: 40px;
    max-width: 200px;
    border: 2px solid #000;
    color: #000;
    background-color: transparent;
    margin: 20px 0;
    cursor: pointer;
}

.section-grid-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-grid-images figure {
    width: 100%;
    height: 590px;
    background-color: #000;
}

.section-grid-images figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-grid-images div {
    width: 100%;
    max-width: 1100px;
}

.section-grid-images h2 {
    font-family: "Ubunto", sans-serif;
    font-size: 3.5rem;
    text-align: center;
    color: #fff;
    background-color: #000;
    width: 100%;
    padding: 30px;
}

.section-grid-images p {
    font-size: 1.4rem;
    text-align: left;
    line-height: 25px;
    color: #111;
    padding: 10px 30px;
}

.section-grid-cards {
    background-color: #000;
}

.section-grid-cards h2 {
    font-family: "Ubuntu", sans-serif;
    font-size: 3.5rem;
    text-align: center;
    padding: 20px;
    color: #fff;
}

.section-grid-cards p {
    color: #fff;
    font-size: 1.4rem;
    text-align: center;
    padding: 10px 20px;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.section-grid-cards .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr, 6);

    justify-items: center;
}

.section-grid-cards .grid-container .card {
    width: 90%;
    max-width: 400px;
    min-height: 150px;
}

.section-grid-cards .grid-container .card div h3 {
    font-size: 2rem;
    color: #fff;
}

.section-grid-cards .grid-container .card div p {
    font-size: 1.4rem;
    color: #fff;
    padding: 10px 0;
    text-align: left;
}

.section-grid-cards .grid-container .card div p a {
    text-decoration: none;
    color:#ADCCE9;
}

.banner-about {
    background-image: url('../images/banner-about.jpeg');
    background-position: center;
    background-size: cover;
    height: 80vh;
}

.banner-about p {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.5;
    text-align: right;
    color: #fff;
    padding-top: 40px;
    max-width: 600px;
    margin-left: auto;
    margin-right: 10%;
}

.section-design-details {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    text-align: center;
    padding: 30px 20px;
}

.section-design-details div {
    padding: 30px;
}

.section-design-details h2 {
    font-family: "Ubuntu", sans-serif;
    font-size: 4rem;
    font-weight: bolder;
    color: #555c66;
}

.section-design-details h3 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    padding: 10px 0;
}

.section-design-details h3 strong {
    font-weight: bold;
}

.section-design-details p {
    color: #111;
    font-size: 1.4rem;
    text-align: center;
    line-height: 25px;
    margin-bottom: 40px;
    max-width: 500px;
}

.section-design-details button {
    font-size: 1.6rem;
    font-weight: bold;
    color: #111;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.section-gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(350px, 6); 
}

.section-gallery figure {
    padding: 0;
    margin: 0;
}

.section-gallery img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    background-color: #000;
    padding: 30px;
}

.footer .location {
    max-width: 400px;
}

.footer .location h2 {
    font-family: "Ubuntu",sans-serif;
    font-size: 2.5rem;
    color: #555c66;
    padding: 20px 0;
}

.follow-us {
    margin-top: 30px;
}

.footer .location p {
    font-size: 1.6rem;
    color: #fff;
}

.footer .location > div {
    display: flex;
    flex-direction: row;
}

.footer .contact {
    width: 90%;
    max-width: 600px;
}

.footer .contact h2 {
    font-family: "Ubuntu",sans-serif;
    font-size: 2.5rem;
    color: #555c66;
    padding: 20px 0;
    padding-bottom: 5px;
}

.footer .contact form input {
    display: block;
    width: 100%;
    margin: 10px 0;
}

.footer .contact form textarea {
    width: 100%;
    padding: 10px;
    font-size: 1.4rem;
}

.footer .contact form input[type="text"] {
    font-size: 1.4rem;
    padding: 10px 5px;
}

.footer .contact form input[type="submit"] {
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    padding: 10px;
    background-color: #fff;
    width: 100px;
    margin-top: 10px;
}

.icon-container {
    width: 30px;
    height: 30px;
    background-color: #fff;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    margin: 0 5px;
}

.icon {
    font-size: 20px;
    color: #000;
    line-height: 30px;
}


@media screen and (min-width:600px) {
    html {
        font-size: 12px;
    }
    .main .banner {
        flex-direction: row;
    }

    .section-grid-images {
        flex-direction: row;
        align-items: flex-start;
    }

    .section-grid-cards .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .section-design-details {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    .section-gallery {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 350px 350px;
    }

    .footer {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    .footer .contact h2 {
        padding-bottom: 20px;
    }
}